<!DOCTYPE html>
<html>
    <head>
        <!-- BOOTSTRAP -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap" rel="stylesheet">
        
        <!-- OWN CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

        <title>ProdBreak</title>
        
    </head>
    <body>
            <nav class="navbar navbar-expand-md bg-light navbar-light">
                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" aria-controls="collapsibleNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Brand -->
                <a class="navbar-brand" href="/"> &#x1F634 prodBreak</a>
                
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        {% if current_user.is_authenticated %}
                            {% set class_name = '' %}
                            {% set disabled_bool = 'false' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('logout') }}">logout.</a>
                            </li>
                        {% else %}
                            {% set class_name = 'disabled' %}
                            {% set disabled_bool = 'true' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('register') }}">register.</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}">login.</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {{ class_name }}" href="{{ url_for('task') }}" aria-disabled="{{ disabled_bool }}">tasks.</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ class_name }}" href="{{ url_for('profile') }}" aria-disabled="{{ disabled_bool }}">your profile.</a>
                        </li>
                    </ul>
                </div>
            </nav>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class='alert alert-{{ category }}'>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- CONTENT BLOCK -- OTHER TEMPLATES OVERRIDE -->
            {% block content %} {% endblock content %}
        </div>

        <!-- jQUERY -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <!-- BOOTSTRAP JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>