{% extends "layout.html" %}
{% block title %} 
    <title>prodBreak: {{ title }}</title>
{% endblock title %}
{% block content %}
    <h1>hi {{ current_user.username }}! you can change your profile below.</h1>
    <div class="row">
        <div class="col-2 main-pfp">
            <img class="rounded-circle account-img" src="{{ user_pfp }}"/>
        </div>
        <!-- TODO: profile picture options -->
        <!-- <div class="col-10">
            <div class="pfp-select-row">
                <img class="rounded-circle account-img" src="{{ user_pfp }}"/>
                <img class="rounded-circle account-img" src="{{ user_pfp }}"/>
            </div>
            <div class="pfp-select-row">
                <img class="rounded-circle account-img" src="{{ user_pfp }}"/>
                <img class="rounded-circle account-img" src="{{ user_pfp }}"/>
            </div>
        </div> -->
    </div>
    <div>
        <form method="POST" action=""> 
            {{ form.hidden_tag() }}  
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">account info</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.break_amt.label(class="form-control-label") }}
                    {% if form.break_amt.errors %}
                        {{ form.break_amt(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.break_amt.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.break_amt(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group submit-btn">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}