{% extends "layout.html" %} 
{% block title %} 
    <title>prodBreak: {{ title }}</title>
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <h1>hi {{ current_user.username }}! here are your current tasks:</h1>    
    <div class="d-flex justify-content-center">
        <ul>
            {% if tasks %} 
                {% for task in tasks %} 
                    {% set late_class = "" %}
                    {% if task.due_date and task.due_date.date() <= cur_date %}
                        {% set late_class = "late" %}
                    {% endif %}
                    {% if task.complete %} 
                        {% set complete_class = "complete" %} 
                    {% else %} 
                        {% set complete_class = "incomplete" %} 
                    {% endif %}
                <li class="task {{ complete_class }} {{ late_class }} "> {{ task.task_name }}
                    <a class="delete-task btn btn-sm" href="{{ url_for('delete_task', task_id=task.id) }}"></a>
                    <a class="{{ complete_class }}-task btn btn-sm" href="{{ url_for('complete_task', task_id=task.id)}}"></a>
                </li>
                    {% if task.due_date %}
                        <p class= "due-date {{ late_class }} {{ complete_class }}">due by: {{ task.due_date.strftime("%m-%d-%Y") }}</p>
                    {% endif %}
                {% endfor %} 
            {% endif %}
        </ul>
    </div>
    <form method="POST" id="add-task" action="{{ url_for('add_task') }}">
        <div class="row d-flex justify-content-center">
        <div class="col-5">
            <div class="form-group">
            <span class="descriptor">need to add another task?</span>
            <input type="text" name="task-txt" placeholder="enter task here." />
            </div>
        </div>
        <div class="col-5">
            <!-- date not supported in Safari or IE 11 or earlier -->
            <div class="form-group">
            <span class="descriptor">is there a due date?</span>
            <input type="date" name="task-due" />
            </div>
        </div>
        <div class="col-2">
            <div class="form-group submit-btn">
                <input type="submit"/>
            </div>
        </div>
    </div>
    </form>
</div>

{% endblock content %}
