{% extends "layout.html" %}
{% block content %}
    <h1>your tasks: </h1>
    <div class="container">
        <ul>
            {% for task in tasks %}
            {% if task.complete %}
            <li> {{ task.task_name }} </li>
            <p> date Created: {{ task.date }} </p>
            {% else %}
            <li class="uncompleted"> {{ task.task_name }} </li>
            <p> date Created: {{ task.date }} </p>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock content %}