/* LAYOUT STYLES */
body {
  font-family: Quicksand;
  margin: 2%;
}

h1 {
  font-weight: bold;
  text-align: center;
}

h3 {
  text-align: center;
  font-weight: lighter;
}

a.navbar-brand {
  font-size: 3em;
  font-weight: bold;
}

/* REGISTER/LOGIN STYLES */
.submit-btn {
  margin-top: 1.5vh;
}

/* TASK PAGE STYLES */
li.nav-item {
  font-size: 2em;
}
li.task {
  font-size: 1.5em;
}
li.late::marker{
  content: '\2757 \2757';
}
.late {
  font-weight: bold;
  color: rgb(100, 15, 1);
}
.due-date{
  margin: 0%;
}
.delete-task {
  background-color: #DB4C46;
}
.complete-task {
  background-color: #DBBF68;
}
.incomplete-task {
  background-color: #38DBB8;
}
.goal-complete {
  text-align: center;
  color: rgb(78, 153, 3);
  font-style: italic;
  padding-top: 2%;
}
.goal-complete h4:first-child{
  font-weight: bold;
  font-style: normal;
}
.complete {
  color: #2F4F4F;
  opacity: 40%;
}
#add-task div {
  margin-top: 2%;
}

/* PROFILE STYLES */
.main-pfp {
  margin-top: 2vh;
}
.account-img{
  width: 10vh;
  height: 10vh;
}
.pfp-select-row img{
  width: 5vh;
  height: 5vh;
  margin-right: 2vh;
}
.pfp-select-row {
  /* background-color: rgb(223, 210, 194); */
  margin-bottom: 2vh;
}

/* OTHER STYLES */
@keyframes tutorial{
  from {top:50px;}
  to {top:100px;}
}

.animated{
  position: absolute;
  width: 10%;
  height: 10%;
  background-color: crimson;
  animation: tutorial alternate 2s infinite;
}